<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <title>IoM Monitor</title>
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }

        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }

        tr:nth-child(even) {
          background-color: #dddddd;
        }
    </style>
</head>
<body>

<p>
    URL: <input id="url" type="text">
</p>
<p>
    id: <input id="sensor_id" type="number">
    <button id="btn" type="button" onclick="reset_table()">monitor</button>
</p>
<p>
    <input id="light-control" type="range" min=0 max=4 value=0 onchange="control_light()" list="slider-tick">
    <datalist id="slider-tick">
        <option value=0>0</option>
        <option value=1>1</option>
        <option value=2>2</option>
        <option value=3>3</option>
        <option value=4>4</option>
    </datalist>
    <input id="water-control" type="checkbox" onchange="control_water()">
</p>

<table id="listing-table">
  <tr>
    <th>Timestamp</th>
    <th>ID</th>
    <th>Light</th>
    <th>Humid</th>
  </tr>
</table>
<script>
    var URL = "http://192.168.43.97:8080";
    var last_timestamp = null;
    var interval = null;

    var sensor_id = 1;

    $(function(){
        $('#url').val(URL);
        $('#sensor_id').val(sensor_id);

        query_all();

        interval = setInterval(function(){
            if(last_timestamp){
                $.ajax({
                    url: URL+"/request/status2",
                    type: "POST",
                    crossDomain: true,
                    data: {'sensor_id': sensor_id, 'last_timestamp': last_timestamp},
                    dataType: "json",
                    success: callback
                });
            }else{
                query_all();
            }
        }, 3000);
    });

    function reset_table(){
        $("#listing-table").empty();
        $('#listing-table')
            .append('<tr><th>Timestamp</th><th>ID</th><th>Light</th><th>Humid</th></tr>');
        sensor_id = $('#sensor_id').val();
        query_all();
    }

    function add_row(row){
        $('#listing-table tr:last')
            .after('<tr><td>'+row.timestamp+'</td><td>'+row.sensor_id+'</td><td>'+row.light+'</td><td>'+row.humid+'</td></tr>');
    }

    function control_light(){
        control($('#sensor_id').val(), 'light', $('#light-control').val());
    }

    function control_water(){
        var on = 0;
        if($('#water-control').attr("checked"))on = 1;
        control($('#sensor_id').val(), 'water', on);
    }

    function control(sensor_id, sensor_type, value){
        $.ajax({
            url: URL+"/request/control",
            type: "POST",
            crossDomain: true,
            data: {'sensor_id': sensor_id, 'sensor_type': sensor_type, 'value': value},
            dataType: "json",
            success: callback
        });
    }

    function callback(data){
        console.log(data);
        for(var i = 0; i < data.length; i++) {
            var row = data[i];
            add_row(row);
        }
        if(i > 0)last_timestamp = data[i-1].timestamp;
    }

    function query_all(){
        $.ajax({
            url: URL+"/request/status2",
            type: "POST",
            crossDomain: true,
            data: {'sensor_id': sensor_id},
            dataType: "json",
            success: callback
        });
    }

</script>
</body>
</html>
