<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <title>IoM Reporter</title>
</head>
<body>

<p>
    timestamp: <input id="timestamp" type=datetime-local value="2013-10-24T20:36:00" step="1">
    <input id="auto-timestamp" type="checkbox">auto
</p>
<p>
    type: <select id="sensor_type">
        <option value="light">light</option>
        <option value="humid">humid</option>
    </select>
    id: <input id="sensor_id" type="number">
</p>
<p>
    value: <input id="value" type="number">
    <button id="btn" type="button" onclick="report()">report</button>
</p>

<script>

function report(){
    $('#btn').prop("disabled", true);
    $.ajax({
        url: "http://192.168.43.97:8080/request/report",
        type: "POST",
        crossDomain: true,
        data: {
            'timestamp': $('#timestamp').val(),
            'sensor_type': $('#sensor_type').val(),
            'sensor_id': $('#sensor_id').val(),
            'value': $('#value').val(),
        },
        dataType: "html",
        success: function(data){
            $('#btn').prop("disabled", false);
        },
    });
}

function update_timestamp(){
    var date = new Date();
    $('#timestamp').val(date.toISOString().split('.')[0]);
}

setInterval(function(){
    if($('#auto-timestamp').prop("checked"))
        update_timestamp();
}, 1000);

$(function() {
    update_timestamp();
});

</script>
</body>
</html>